:root {
    background-color: #6C757D !important;
    min-height: 1vh;
}

.nav {
    background-color: rgb(32, 204, 234) !important;
    padding: .5rem;
    border-radius: .25rem;
}

.nav a {
    color: #6C757D;
    padding: .5rem;
}

.resume h2 {
    color: #6C757D;
    align-items: center !important;
    padding-bottom: 1.5rem;
}

.resume h3 {
    color: #6C757D;
    padding-bottom: 0.75rem;
}

.resume h4 {
    color: #6C757D;
    padding-left: 1rem;
    padding-bottom: .5rem;
}

.resume p {
    color: #2f3031;
    padding-left: 1.25rem;
}

.resume li {
    color: #2f3031;
    padding-left: 1.25rem;
}

#raise:hover,
#raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.nav a:hover {
    color: antiquewhite;
    border-radius: .25rem;
}

.nav a:active {
    border-radius: .25rem;
}